header {
  background-image: linear-gradient(to right, #1e90ff, #00008b);
  margin-bottom: 1.5vw;
}

#search {
  max-height: 5vh;
}

hr {
  padding: 0;
  margin: 0;
}

.forecast-cards {
  background-color: #1b2b5d;
  padding: 1vw;
}

#city {
  padding: 1vw;
}
